[Unit]
Description=Resilio Sync
Wants=network-online.target
After=network-online.target
StartLimitIntervalSec=200
StartLimitBurst=5

[Service]
Type=simple
ExecStart=%RESILIO_BASE_DIR%/rslsync --nodaemon
Restart=on-failure
RestartSec=10
StartLimitAction=none

# Faster shutdown
TimeoutStopSec=15
KillMode=mixed
KillSignal=SIGTERM

# Logging
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
